<div style="  width: 60%; margin: 30px auto; ">
    <div>
        <div style="text-align: center;"><img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/logo.png" height="160px" /></div>
        <div style="text-align: center;"><img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/InnovativeIdeas.png" height="450px"/></div>
        <p>Hey {{name}},</p>
        <p>We're thrilled to have you onboard and welcome you to Mynt invest!

        </p>
        <p>You're now one step closer to realizing your entrepreneurial dreams and bringing your innovative ideas to
            life.</p>


        <p>At Mynt, we believe in the power of innovation and entrepreneurship. We're committed to providing you with
            the resources and support you need to create a successful campaign and reach your funding goals. </p>
        <p><b>Pro Tip:</b> Take advantage of our platform and gain new customers from as you engage with our community
            of investors.</p>
        <p>If you have any questions or need assistance, our team is always here to help.<br> For answers to common
            questions, head over to Mynt University. </p>

        <div style="text-align: center;"><button style="padding: 10px 30px; background-color: #efc127; border: 0px; border-radius: 100px; font-weight: 600;"><a href="https://mynt-ui.webmavericks.org/myntUniversity/faqs">Mynt University<a></button></div>
    </div>
    <div>
        <div  style="flex-direction: column; margin-top: 20px; text-align: center;">
            <p style="text-align: center; margin: 0; font-size: 12px;">Love Team Mynt <br> For any assistance and
                queries write to us at contact@myntinvest.com</p>
                <p style="line-height: .5px; font-size: 12px;"><a href="https://mynt-ui.webmavericks.org/privacy-policy">Privacy Policy</a> | <a href="https://mynt-ui.webmavericks.org/terms-and-condition">Terms of Use<a/></p>
        </div>
        <div style="gap: 3px; margin-top: 8px ; text-align: center;" >
            <img style="margin-right: 2px ;" src="https://myntassets.s3.ap-south-1.amazonaws.com/email/linkedin.png" height="25px" />
            <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/instagram.png" height="25px" />
        <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/facebook.png" height="25px" />
        <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/youtube.png" height="25px" />
        </div>
        <div style="text-align: center;">
            <p style="font-size: 12px; text-align: center;"> MXi Technologies Pvt Ltd <br>
                © 2023 All rights reserved <br>
                WeWork BlueOne Square<br>
                246, Phase IV, Udyog Vihar, Haryana, 122016</p>
        </div>
    </div>
</div>