
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body style="  width: 60%; margin: 30px auto; ">
    <div>
        <div class="display: flex;width: 100%;align-items: center;justify-content: center;"><img src="./logo.png" height="160px" /></div>
        <p>Hi {{investor_name}} </p>
        <p>Thank you for considering {{company_name}} as a part of your investment portfolio. Unfortunately, your
            transaction of INR {{investment_amount}} didn't go through.
        </p>
        <p>Any amount debited from your account will be refunded within 5-7 working days, in the meantime, you can
            explore other fundraising campaigns.
        </p>


    </div>
    <div>
        <div class="display: flex;width: 100%;align-items: center;justify-content: center;" style="flex-direction: column; margin-top: 20px;">
            <p style="text-align: center; margin: 0; font-size: 12px;">Love Team Mynt <br> For any assistance and
                queries write to us at contact@myntinvest.com</p>
            <p style="line-height: .5px; font-size: 12px;">Privacy Policy | Terms of Use</p>
        </div>
        <div style="gap: 3px; margin-top: 8px ;" class="display: flex;width: 100%;align-items: center;justify-content: center;">
            <img style="margin-right: 2px ;" src="https://myntassets.s3.ap-south-1.amazonaws.com/email/linkedin.png" height="25px" />
            <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/instagram.png" height="25px" />
            <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/facebook.png" height="25px" />
            <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/youtube.png" height="25px" />
        </div>
        <div class="display: flex;width: 100%;align-items: center;justify-content: center;">
            <p style="font-size: 12px; text-align: center;"> MXi Technologies Pvt Ltd <br>
                © 2023 All rights reserved <br>
                WeWork BlueOne Square<br>
                246, Phase IV, Udyog Vihar, Haryana, 122016</p>
        </div>
    </div>
</body>

</html>