<div style="  width: 60%; margin: 30px auto; ">
    <div>
        <div style="text-align: center;"><img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/logo.png" height="160px" /></div>
        <p>Hi {{investor_name}} </p>
        <p>Thank you for considering {{company_name}} as a part of your investment portfolio. Unfortunately, your
            transaction of INR {{investment_amount}} didn't go through.
        </p>
        <p>Any amount debited from your account will be refunded within 5-7 working days, in the meantime, you can
            explore other fundraising campaigns.
        </p>


    </div>
    <div>
        <div style="flex-direction: column; margin-top: 20px; text-align: center;">
            <p style="text-align: center; margin: 0; font-size: 12px;">Love Team Mynt <br> For any assistance and
                queries write to us at contact@myntinvest.com</p>
            <p style="line-height: .5px; font-size: 12px;"><a href="https://mynt-ui.webmavericks.org/privacy-policy">Privacy Policy</a> | <a href="https://mynt-ui.webmavericks.org/terms-and-condition">Terms of Use<a/></p>
        </div>
        <div style="gap: 3px; margin-top: 8px ; text-align: center;" >
            <img style="margin-right: 2px ;" src="https://myntassets.s3.ap-south-1.amazonaws.com/email/linkedin.png" height="25px" />
            <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/instagram.png" height="25px" />
        <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/facebook.png" height="25px" />
        <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/youtube.png" height="25px" />
        </div>
        <div style="text-align: center;">
            <p style="font-size: 12px; text-align: center;"> MXi Technologies Pvt Ltd <br>
                © 2023 All rights reserved <br>
                WeWork BlueOne Square<br>
                246, Phase IV, Udyog Vihar, Haryana, 122016</p>
        </div>
    </div>
</div>