<div style="width: 60%; margin: 0px auto 50px auto; ">
    <div >
        <div  style="margin: 30px 0px; text-align: center;"><img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/logo.png" height="160px" /></div>
        <div  style="margin: 30px 0px; text-align: center;"><img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/LoginCode.png" height="450px" /></div>
        <div  style="text-align: center;">
            <p style="font-size: 20px; font-weight: 600; ">Your One Time Password</p>
        </div>
        <p>We're here to take you to the Kingdom of startup enrollment. Please use the code below to verify your email
            address.</p>
        <div  style="margin-top: 20px; text-align: center;">
            <p style="font-size: 15px;">{{otp}}</p>
        </div>

        <p>Fun Fact: Did you know that the term "startup" was first used in 1976 by an American entrepreneur named John
            Nesheim in his book "High Tech Start Up"? Since then, the term has become synonymous with innovation,
            disruption, and limitless potential!</p>
        <div  style="margin-top: 20px; text-align: center;">
            <p style="font-size: 15px;">Happy Enrolling!</p>
        </div>


    </div>
    <div>
        <div style="flex-direction: column; margin-top: 20px; text-align: center;">
            <p style="text-align: center; margin: 0; font-size: 12px;">Love Team Mynt <br> For any assistance and
                queries write to us at contact@myntinvest.com</p>
                <p style="line-height: .5px; font-size: 12px;"><a href="https://mynt-ui.webmavericks.org/privacy-policy">Privacy Policy</a> | <a href="https://mynt-ui.webmavericks.org/terms-and-condition">Terms of Use<a/></p>
        </div>
        <div style="gap: 3px; margin-top: 8px ; text-align: center;" >
            <img style="margin-right: 2px ;" src="https://myntassets.s3.ap-south-1.amazonaws.com/email/linkedin.png" height="25px" />
            <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/instagram.png" height="25px" />
        <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/facebook.png" height="25px" />
        <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/youtube.png" height="25px" />
        </div>
        <div style="text-align: center;">
            <p style="font-size: 12px; text-align: center;"> MXi Technologies Pvt Ltd <br>
                © 2023 All rights reserved <br>
                WeWork BlueOne Square<br>
                246, Phase IV, Udyog Vihar, Haryana, 122016</p>
        </div>
    </div>
</div>