<div className="welcomeMail-container" style="background: white; margin: auto; width: 70%; padding-top: 15em; padding-bottom: 10em;">
    <div className="welcomeMail-section">
        <span className="mail-section-head-text" style="font-weight: 600; font-size: 20px;">Verification Code</span><br /><br />
        <span className="mail-section-text" style="font-size: 20px;">Hey {{name}},
            <br /><br />We're here to take you to the Kingdom of startup investing. Please use the code below to verify your email address.<br /><br />
        </span>
        <div style="text-align: center;">
            <span className="mail-section-head-text" style="font-weight: 600; font-size: 20px;">{{otp}}</span>
        </div>
        <span className="mail-section-text" style="font-size: 20px;">Fun Fact: It takes 10 mins to search for a Site like Mynt, but it takes only 4 minutes to invest in a startup on Mynt!<br /><br />
        </span>

        <div style="text-align: center;">
            <span className="mail-section-text-footer" style="font-size: 13px;">For any assistance and queries write to us at <a href="mailto:info@meteorventure.com ">info@meteorventure.com</a><br />
                Startup investing is risky and can lead to complete loss in capital
            </span><br /><br />
        </div>
        <div style="text-align: center;">
            <span className="mail-section-text-footer" style="font-size: 13px;"><a href="#" className="link-section-text-footer" style="color: skyblue !important; text-decoration: none; text-align: center;">Privacy Policy</a> | <a href="#" className="link-section-text-footer" style="color: skyblue !important; text-decoration: none; text-align: center;">Terms of Use</a></span>
        </div>
    </div>
</div>