<div style=" width: 60%; margin: 30px auto 50px auto;">
    <div>
        <div style=" display: flex; width: 100%; align-items: center; justify-content: center; "><img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/exploreDeals.png" height="450px" /></div>
        <p>Hi {{name}},</p>
        <p>You've completed the signup process and are now one step closer to embarking on an exciting journey of
            discovering innovative startups.</p>
        <p>At Mynt, we believe that there is no limit to what you can achieve by enrolling in fresh ideas. With a
            plethora of startup opportunities available, you can now build a blockbuster portfolio that can yield high
            returns</p>
        <p><b>Pro Tip:</b> Go through the due diligence documents and sit through the AMA (Ask Me Anything) meeting with
            the founders to gain a detailed understanding of the startup and its potential</p>
        <p>Here is a few sources to help you get started: </p>
        <p>For answers to common questions, head over to Mynt University. </p>
        <div style=" text-align: center;"><button  style="padding: 10px 30px; background-color: #efc127; border: 0px; border-radius: 100px; font-weight: 600;"><a href="https://mynt-ui.webmavericks.org/myntUniversity/faqs">Mynt University</a></button></div>
        <p>You can also browse through the latest opportunities and learn about our startups. </p>
        <div style=" text-align: center;"><button  style="padding: 10px 30px; background-color: #efc127; border: 0px; border-radius: 100px; font-weight: 600;"><a href="https://mynt-ui.webmavericks.org/">Browse Opportunities</a></button></div>
        
    </div>
    <div>
        <div style="flex-direction: column; margin-top: 20px; text-align: center;">
            <p style="text-align: center; margin: 0; font-size: 12px;">Love Team Mynt <br> For any assistance and
                queries write to us at contact@myntinvest.com</p>
                <p style="line-height: .5px; font-size: 12px;"><a href="https://mynt-ui.webmavericks.org/privacy-policy">Privacy Policy</a> | <a href="https://mynt-ui.webmavericks.org/terms-and-condition">Terms of Use<a/></p>
        </div>
        <div style="gap: 3px; margin-top: 8px ; text-align: center;" >
            <img style="margin-right: 2px ;" src="https://myntassets.s3.ap-south-1.amazonaws.com/email/linkedin.png" height="25px" />
            <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/instagram.png" height="25px" />
            <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/facebook.png" height="25px" />
            <img src="https://myntassets.s3.ap-south-1.amazonaws.com/email/youtube.png" height="25px" />
        </div>
        <div style=" text-align: center; ">
            <p style="font-size: 12px; text-align: center;"> MXi Technologies Pvt Ltd <br>
                © 2023 All rights reserved <br>
                WeWork BlueOne Square<br>
                246, Phase IV, Udyog Vihar, Haryana, 122016</p>
        </div>
    </div>
</div>