<div className="welcomeMail-container" style="background: white; margin: auto; width: 70%; padding-top: 15em; padding-bottom: 10em;">
    <div className="welcomeMail-section">
    <span className="mail-section-head-text" style="font-weight: 600; font-size: 20px;">Welcome to Mynt invest </span><br /><br />
    <span className="mail-section-text" style="font-size: 20px;">Hey {{name}},
        <br /><br />You've finished the registration procedure and are ready to sign up for your first startup deal..
        <br /><br />You know what the experts say: the sky is the limit when it comes to subscribing to fresh ideas, so browse our deals and subscribe to startups to build a blockbuster portfolio!
        <br /><br />Pro Tip: Go through the Due Diligence documents because they help you carry out a detailed risk analysis!
        <br /><br />Click on the Link Below to  Browse through the latest deals and learn about our startups.<br /><br />
    </span>
    <div style="text-align: center;">
    <a href="#" className="link-section-text">Link</a>
    </div><br /><br />

    <div style="text-align: center;">
            <span className="mail-section-text-footer" style="font-size: 13px;">For any assistance and queries write to us at <a href="mailto:info@meteorventure.com ">info@meteorventure.com</a><br />
                Startup investing is risky and can lead to complete loss in capital
            </span><br /><br />
        </div>
        <div style="text-align: center;">
            <span className="mail-section-text-footer" style="font-size: 13px;"><a href="#" className="link-section-text-footer" style="color: skyblue !important; text-decoration: none; text-align: center;">Privacy Policy</a> | <a href="#" className="link-section-text-footer" style="color: skyblue !important; text-decoration: none; text-align: center;">Terms of Use</a></span>
        </div>
</div>
</div>